CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


ProjectTemplateSln/build/
ProjectTemplateSln/PT_BuildVars\.txt

*/.vs
ProjectTemplateSln/\.vscode/settings\.json
ProjectTemplateSln/\.vscode/
ProjectTemplateSln/CMakeSettings\.json/