CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


RequairSln/build/
RequairSln/PT_BuildVars\.txt

*/.vs
RequairSln/\.vscode/settings\.json
RequairSln/\.vscode/
RequairSln/CMakeSettings\.json/
RequairSln/out/build
RequairSln/CMakeSettings.json

RequairSln/build/bin/
